{% extends "OktolabIntakeBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'OktolabIntakeBundle::menu.html.twig' with {'selected': 'intake_about', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <h1>{{ 'intake.about.title'|trans}}</h1>
    <p>{{ license|markdown }}</p>
{% endblock%}