{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'intake_about', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <div class="page-header">
        <h1>Fernsehen wie von einem anderen Stern</h1>
    </div>
    <p>Als nichtkommerzieller Mitmachsender bietet Okto engagierten Menschen und Communities seit Herbst 2005 die Möglichkeit, ihre Themen und Anliegen selbstbestimmt ins Fernsehen zu bringen.</p>
    <p>Okto vermittelt das entsprechende Know-how und stellt die technische Infrastruktur (Kameras, Schnittplätze, TV-Studio) sowie die Programmplätze kostenlos bereit. Es handelt sich also um keine Fernsehstation im herkömmlichen Sinn. Vielmehr verschwimmen bei Okto die Grenzen zwischen TV-ProduzentInnen und KonsumentInnen.</p>
    <p>Mit seinen vielfältigen und oft ungewöhnlichen bzw. widerspenstigen Inhalten stellt der Mitmachsender ein ergänzendes Angebot zum öffentlich-rechtlichen und privat-kommerziellen Fernsehen bereit.</p>
    <p>Nähere Infos gibt's unter <a href="http://www.okto.tv">www.okto.tv</a></p>
{% endblock%}
