<p>Die Dateien konnten nicht gespeichert werden.</p>
<p>
    Kontakt: {{ file.uploaderEmail }}
    Titel: {{ file.series }}<br />
    Beschreibung:<br />
    - - - - - - - - - - - - - - - - - - - -<br />
    {{ file.episodeDescription }}<br />
    - - - - - - - - - - - - - - - - - - - -
</p>