<h1>Gleich wieder in INTAKE</h1>
<p>Es wurde ein neues Passwort für deinen Account angefordert. Wenn du das nicht warst, kannst du diese Mail ignorieren.</p>
<p><a href="{{ url('intake_iforgot_reset', { 'resetHash': user.resetHash }) }}">Passwort zurücksetzen</a></p>