.banner {
    height: 60px;
    width: 100%;
    background-color: black;
}

.banner > h1 {
    color: white;
    margin-top: 55px;
    /*font-family: "Helvetica-Neue", monospace;*/
    /*font-weight: lighter;*/
}

.logo {
    height: 30px;
    padding-right: 5px;
    width: auto;
}

.navbar-inverse .navbar-brand {
    color: white;
    padding-top: 12px;
}

.footer > .container > p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer > .container > a {
    color: #777777
}

body {
    padding-bottom: 80px;
}
