{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'intake_backend', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <h1>{{ 'intake.login.reset_password_header'|trans }}</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}